.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSide {
  flex: 1;
  padding: 20px;
}

.leftSide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.rightSide {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}

.rightSide h3 {
  margin-bottom: 20px;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.editForm label,
.editForm textarea,
.editForm input {
  margin-bottom: 10px;
}

.ingredientsBtn-remove {
  margin-left: 1em;
  margin-bottom: 0.4em;
}

.ingredientsBtn {
  border-radius: 5px;
  color: white;
  margin-top: 0.5em;
}

.submitBtn {
  margin-top: 10px;
}
