.recipe-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81.9vh;
}

.recipe-details-content {
  display: flex;
}

.recipe-details-image {
  flex-shrink: 0;
  margin-right: 20px;
}

.recipe-details-info {
  flex-grow: 1;
}

.saveBtn.btn.btn-link {
 margin-top: 0;
 margin-bottom: 1.3em;
  font-size: 25px;
  color: rgb(198, 72, 16);
}

.editBtn.btn.btn-primary {
  margin-right: 0.3em;
  margin-top: 1em;
}

.deleteBtn.btn.btn-danger {
  margin-top: 1em;
}

.goBackBtn {
  position: fixed;
  top: 100px; 
  left: 20px; 
  z-index: 1000;
}

.heart-and-title {
  display: flex;
  align-items: center; 
}