.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftSide-register {
  flex: 1;
  padding: 20px;
}

.leftSide-register img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.rightSide-register {
  flex: 1;
  padding: 20px;
  background-color: #faf9f8;
}

.register-link {
  margin-top: 1em;
}

.loginRegLabel {
  margin-bottom: 1em;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
